body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  
}

h1, h2, h3 {
  font-weight: 600;
}

a.navbar-brand {
  font-size: 1.3rem;
  align-items: center;
  padding: 0.2rem;
  font-weight: normal;
  color: #cbe4f8;
  
}

.container {
  background-color: rgba(73, 67, 58, 0.096);
}
.container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.img{
  width: 40px;
  height: 40px;
}

/* Iba a implementar el selector de abajo pero leí que la mejor práctica es hacerlo mejor dándole un nombre a la clase... abajo del bloque comentado lo haré así*/

/* button[data-bs-target="#crearProduccionModal"] {
  background-color: rgba(0, 0, 0, 0.5);
}  */

.btn-guardar{
  background-color: #0E273C;
  color: white;
 
  
}

.btn-guardar:hover {
  background-color: #40474e;
  color: rgb(214, 238, 238);
  opacity: 0.8;
}

.btn-sbmt-produccion{
  background-color: #0E273C;
  color: white;
  height: 40px;
  border-radius: 10px;
}

.btn-sbmt-produccion:hover {
  background-color: #40474e;
  color: rgb(214, 238, 238);
  opacity: 0.8;
}

.card-title.text-primary {
  color: #305c80!important;
}